# 1. Ignorar todo por defecto para empezar de forma limpia.
**/*

# 2. Ahora, incluir explícitamente solo lo que necesitamos en el paquete final.
!dist/**
!package.json
!README.md
!LICENSE
!images/icon.png
!demostracion/demostracionUso.gif